<div class="ng-table">
  <no-header #header class="table-header" [columns]="columns">

  </no-header>

  <no-search #search class="table-search" [columns]="columns">
  </no-search>

  <no-table-body #body class="table-body"
  [tableData]="tableData" 
  [columns]="columns">

  </no-table-body>

  <no-footer #footer class="table-footer" [columns]="columns">

  </no-footer>
  <div #bottomBorder (scroll)="onBottomScroll($event)" class="bottom-border">
    <div class="bottom-border__body"></div>
  </div>

</div>