.ng-table {
  overflow: auto;
}

.table-header {

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: #f4e9db59;

  .table-header__row {

    font-weight: bold;
    white-space: nowrap;
    width: fit-content;

    .table-header__cell {

      display: inline-block;
      position: relative;
      cursor: pointer;

    }

    .right-space {
      height: 5px;
      width: 61px;
    }
  }
}

.table-body {

  display: block;
  flex-direction: column;
  height: 500px;
  overflow-x: hidden;

  position: relative;

  .table-body__row {

    display: flex;
    width: fit-content;
    white-space: nowrap;

    position: absolute;

    .table-body__cell {

      display: inline-block;
      
    }
    
  }
}

.table-footer {

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: #efe1d154;

  .table-footer__row {

    white-space: nowrap;
    width: fit-content;

    .table-footer__cell {

      display: inline-block;

    }

    .right-space {
      height: 5px;
      width: 61px;
    }
  }
}

.table-search {

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .table-search__row {

    display: flex;
    flex-direction: row;
    width: fit-content;

    .table-search__cell {

      display: inline-block;

    }

    .right-space {
      height: 5px;
      width: 65px;
    }
  }
}

.bottom-border {
    overflow: auto;

    .bottom-border__body {
        height: 5px;
    }
}

.cell {
  padding: 10px 20px 10px 20px;
  width: 100px;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.cell:last-child {
  border-right: 1px solid #e8e8e8;
}

.table-header__cell.cell {
  border-top: 1px solid #e8e8e8;
}

.table-body__row:hover {
  box-shadow: 1px 4px 6px 2px #ded6d68a;
  background: #e6e3e33b;
}

.table-body__row {
  cursor: pointer;
}

input[type=text],
input[type=email] {
  width: 100%;
  border-bottom: 1px solid #5f5f5f;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus {
  outline: none;
}


.right-space {
    display: inline-block;
    width: 50px;
}

.v-divider {
    position: absolute;
    // width: 5px;
    height: 30px;
    z-index: 99;
    margin-top: auto;
    margin-bottom: auto;
    top: 5px;
    // left: 196.5px;
    border-left: 1px ridge #c8c9ca;
    border-right: 1px ridge #c8c9ca;
    cursor: col-resize;
}