<div class="ng-table" *ngIf="store.tableState$ | async as tableState">
  <no-header 
  #header 
  class="table-header" 
  [columns]="tableState.columns"
  [dividerConfig]="tableState.dividerConfig"
  [visibleColumns]="tableState.visibleColumns"
  [viewportColumns]="tableState.viewportColumns"
  [visibleWidth]="tableState.visibleWidth"
  (action)="onAction($event)"
  >

  </no-header>

  <no-search #search class="table-search" 
  [columns]="tableState.columns"
  [visibleColumns]="tableState.visibleColumns"
  [viewportColumns]="tableState.viewportColumns"
  [visibleWidth]="tableState.visibleWidth"
  >
  </no-search>

  <no-table-body #body class="table-body"
  [rows]="tableState.rows"
  [visibleRows]="tableState.visibleRows"
  [viewportRows]="tableState.viewportRows"


  [visibleHeight]="tableState.visibleHeight"

  [columns]="tableState.columns"
  [visibleColumns]="tableState.visibleColumns"
  [viewportColumns]="tableState.viewportColumns"
  [visibleWidth]="tableState.visibleWidth"


  (scroll)="onTableBodyScroll($event)"

  >
  </no-table-body>

  <no-footer #footer class="table-footer" 
  [columns]="tableState.columns"
  [visibleColumns]="tableState.visibleColumns"
  [viewportColumns]="tableState.viewportColumns"
  [visibleWidth]="tableState.visibleWidth"
  >

  </no-footer>
  <div #bottomBorder (scroll)="onBottomScroll($event)" class="bottom-border">
    <div class="bottom-border__body" 
    [ngStyle]="{
      'width': tableState.visibleWidth + 'px'
    }"
    ></div>
  </div>

</div>