table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}


td:hover {
    background: lightsalmon;
}

tr:hover {
    cursor: pointer;
    background: lightskyblue;
}

.table-container{
    overflow: scroll;
    height: calc(100vh - 250px);
}