<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink='home'>Data Table</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink='home'>Source</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink='core'>
              <span data-feather="home"></span>
              Core Table
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='plain'>
              <span data-feather="file"></span>
              Plain Table
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='immutable'>
              <span data-feather="shopping-cart"></span>
              Immutable Table
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='performance'>
              <span data-feather="users"></span>
              Performance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink='es6'>
              <span data-feather="home"></span>
              ES6 Table
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Features</span>
          <a class="d-flex align-items-center text-muted" routerLink='home'>
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Resizable Column
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Column Reordering (D&D)
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Column Chooser
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Filtering
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Sorting
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Grouping
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Pivot Table
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Infinite Scroll
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Editable Cell
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Group Edit
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Footer Calculation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='home'>
              <span data-feather="file-text"></span>
              Theming
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>